<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-4 offset-lg-4">
            <h1>New User</h1>
            <div class="alert alert-success" role="alert" *ngIf="status=='Success'">
                    Sign up was completed correctly! <a [routerLink]="['/login']">Sing in here!</a>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="status=='Error'">
                    Sign up wrong!! {{errorDetails}}
            </div>
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input name="name" type="text" class="form-control" #name="ngModel" [(ngModel)]="user.name" placeholder="Name" required>
                    <small *ngIf="!name.valid && name.touched" style="color:red !important;" class="form-text text-muted">Name is required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Surname</label>
                    <input name="surname" type="text" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" placeholder="Surname" required>
                    <small *ngIf="!surname.valid && surname.touched" style="color:red !important;" class="form-text text-muted">Surname is required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nickname/Username</label>
                    <input name="nickname" type="text" class="form-control" #username="ngModel" [(ngModel)]="user.nickname" placeholder="Username" required>
                    <small *ngIf="!username.valid && username.touched"  style="color:red !important;" class="form-text text-muted">Username is required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email" type="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" placeholder="Enter your email" required>
                    <small *ngIf="!email.valid && email.touched" style="color:red !important;" class="form-text text-muted">Email is required</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input name="password" type="password" class="form-control" #pass="ngModel" [(ngModel)]="user.password" placeholder="Your password" required>
                  <small *ngIf="!pass.valid && pass.touched" style="color:red !important;" class="form-text text-muted">Password is required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="passwordCompare" id="passwordCompare" type="password" class="form-control" #passCompared placeholder="Your password" required>
                    <small *ngIf="pass.valid && pass.touched && passCompared != pass" style="color:red !important;" class="form-text text-muted">{{passMess}}</small>
                </div>
                <select name="role" #role="ngModel" [(ngModel)]="user.role" class="form-control form-control-sm">
                    <option value="USER_ROLE">USER_ROLE</option>
                    <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                </select>
                <input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!registerForm.valid">
              </form>
        </div>
    </div>
</div>