<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li *ngFor="let u of listUser" class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="col-5">
                        {{u.name}} {{u.surname}} - {{u.nickname}}
                    </div>
                    <div class="col-2 align-items-center">
                        <button (click)="getData(u._id)"type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal">Eliminar</button>
                    </div>
                    <div class="col-2 align-items-center">
                        <button (click)="getUpd(u)"type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateUserModal">Editar</button>
                    </div>
                    <div class="col">
                      <span class="badge badge-primary badge-pill">{{u.role}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button (click)="moreUsers()" type="button" class="btn btn-primary mt-3 mb-3" *ngIf="totalUsers>10">More</button>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de querer borrar este usuario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="deleteUser()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #registerForm="ngForm" (ngSubmit)="updUser(registerForm)">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input name="name" type="text" class="form-control" #name="ngModel" [(ngModel)]="updateUser.name" placeholder="Name">
                    <small *ngIf="!name.valid && name.touched" style="color:red !important;" class="form-text text-muted">Name is required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Surname</label>
                    <input name="surname" type="text" class="form-control" #surname="ngModel" [(ngModel)]="updateUser.surname" placeholder="Surname">
                    <small *ngIf="!surname.valid && surname.touched" style="color:red !important;" class="form-text text-muted">Surname is required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nickname/Username</label>
                    <input name="nickname" type="text" class="form-control" #username="ngModel" [(ngModel)]="updateUser.nickname" placeholder="Username">
                    <small *ngIf="!username.valid && username.touched"  style="color:red !important;" class="form-text text-muted">Username is required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email" type="email" class="form-control" #email="ngModel" [(ngModel)]="updateUser.email" placeholder="Email">
                    <small *ngIf="!email.valid && email.touched" style="color:red !important;" class="form-text text-muted">Email is required</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input name="password" type="password" class="form-control" #pass="ngModel" [(ngModel)]="updateUser.password" placeholder="Password">
                  <small *ngIf="!pass.valid && pass.touched" style="color:red !important;" class="form-text text-muted">Password is required</small>
                </div>
                <div class="form-group">
                  <label for="InputRole">Role</label>
                  <input name="role" type="text" class="form-control" #pass="ngModel" [(ngModel)]="updateUser.role" placeholder="New role">
                  <small *ngIf="!pass.valid && pass.touched" style="color:red !important;" class="form-text text-muted">Password is required</small>
                </div>
                <input type="submit" class="btn btn-success" value="Update">
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>