<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>
                <strong>Movies</strong>
                <hr>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" *ngFor="let m of listMovie">
            <img [src]="m.poster" class="img-fluid" [alt]="m.title">
            <p>{{m.title}}</p>   
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                <strong>Series</strong>
                <hr>
                <h6>Sorry, now we are a Beta platform,we need time and Space :( </h6>
            </h2>
        </div>
    </div>
</div>