<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" >
  <a class="navbar-brand" *ngIf="identity" [routerLink]="['/admin']">ShareStream</a>
  <a class="navbar-brand" *ngIf="!identity" [routerLink]="['/login']">ShareStream</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="col-4">
    <ul *ngIf="identity" class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/admin']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sign-up']" [routerLinkActive]="['active']">New User</a>
      </li>
      <div class="col"></div>
    </ul>
    </div>
    <div class="col-4">
      <form class="form-inline" (ngSubmit)="showMovie($event)" *ngIf="identity">
        <input class="form-control mr-sm-2 w-75" #search type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <div class="col-3 offset-1">
      <ul *ngIf="identity" class="navbar-nav bd-highlight">
        <li class="avatar">
          <!-- Cargar imagen de perfil -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{identity.name}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">LogOut</a>
          </li>
      </ul>

      <ul *ngIf="!identity" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sign-up']" [routerLinkActive]="['active']">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ul class="list-group list-group-flush" *ngIf="arrMovie">
    <a [routerLink]="['/movie', s.imdbID]" (click)="cleanArr()" *ngFor="let s of arrMovie"><li class="list-group-item">{{s.Title}}</li></a>
</ul>

<router-outlet></router-outlet>