<div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-4 offset-lg-4">
                <h1>{{title}}</h1>
                <div class="alert alert-success" role="alert" *ngIf="status=='Success'">
                        {{errorDetails}}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="status=='Error'">
                        Sign up wrong!! {{errorDetails}}
                </div>
                <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username or email</label>
                        <input name="emailNick" type="text" class="form-control" #emailNick [(ngModel)]="userLogin.emailNick" placeholder="Username or email" required>
                        <small *ngIf="!emailNick.valid && emailNick.touched"  style="color:red !important;" class="form-text text-muted">Username is required</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input name="password" type="password" class="form-control" #pass="ngModel" [(ngModel)]="userLogin.password" placeholder="Your password" required>
                      <small *ngIf="!pass.valid && pass.touched" style="color:red !important;" class="form-text text-muted">Password is required</small>
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!registerForm.valid">
                  </form>
            </div>
        </div>
    </div>