<div class="contanier mt-5">
        <div class="row mb-3" *ngIf="movie._id">
            <div class="col-2 offset-5">
                <button class="btn btn-danger col-12" (click)="deleteMovie(movie._id)">Eliminar</button>
            </div>
        </div>
        <div class="row mb-3" *ngIf="!movie._id">
            <div class="col-2 offset-5">
                <h4 class="text-success text-center">Nueva</h4>
            </div>
        </div>
    <div class="row" *ngIf="movie">
        <div class="col-4 offset-4 d-flex justify-content-center">
            <img *ngIf="movie.file" [src]="movie.file" class="img-fluid" [alt]="movie.name">
            <img *ngIf="movie.poster" [src]="movie.poster" class="img-fluid" [alt]="movie.name">
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4 text-center mt-3">
            <h4 class="col-12">{{movie.title}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <form #subidaForm="ngForm" (ngSubmit)="onSubmit(subidaForm)" enctype="multipart/form-data">
                <div class="custom-file">
                    <input type="file" #video name="video" class="custom-file-input" id="customFile" (change)="fileChangeEvent($event)">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <input type="submit" class="btn btn-success" value="Upload">
            </form>
        </div>
    </div>
</div>
